CONFIG_MACH_LOONGSON=y
CONFIG_LEMOTE_MACH2F=y
CONFIG_ENVVAR_OVERRIDE=y
# CONFIG_DISABLE_HW_FPU is not set
CONFIG_HZ_1000=y
CONFIG_PREEMPT=y
CONFIG_KEXEC=y
# CONFIG_KEXEC_CRASH is not set
CONFIG_EXPERIMENTAL=y
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_KERNEL_LZMA=y
# CONFIG_SWAP is not set
CONFIG_TINY_RCU=y
CONFIG_LOG_BUF_SHIFT=12
CONFIG_EMBEDDED=y
# CONFIG_KALLSYMS is not set
# CONFIG_HOTPLUG is not set
# CONFIG_PRINTK_FUNC is not set
CONFIG_COMMAND_LINE_SIZE=40
# CONFIG_SETUP_PARAM is not set
CONFIG_PARAM_LIST="console root init"
# CONFIG_MODULE_PARAM is not set
# CONFIG_BUG is not set
# CONFIG_ELF_CORE is not set
# CONFIG_PCSPKR_PLATFORM is not set
# CONFIG_PANIC is not set
# CONFIG_BASE_FULL is not set
CONFIG_NET_SMALL=y
# CONFIG_FUTEX is not set
# CONFIG_PTRACE is not set
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_EVENTFD is not set
# CONFIG_SHMEM is not set
# CONFIG_AIO is not set
CONFIG_FB_MODEDB=y
CONFIG_FB_MAX=1
CONFIG_BLKDEV_MAJOR_HASH_SIZE=1
CONFIG_CHRDEV_MAJOR_HASH_SIZE=1
CONFIG_MAX_CLOCKS=1
CONFIG_NR_IRQS=40
CONFIG_MAX_USER_RT_PRIO=5
CONFIG_NR_LDISCS=1
CONFIG_MAX_SWAPFILES_SHIFT=0
CONFIG_MAX_NR_CON_DRIVER=2
CONFIG_MAX_NR_CONSOLES=1
# CONFIG_BINFMT_SCRIPT is not set
CONFIG_LINUXTINY_DO_UNINLINE=y
# CONFIG_CRC32_TABLES is not set
# CONFIG_MEMPOOL is not set
# CONFIG_XATTR is not set
# CONFIG_INETPEER is not set
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_PCI_QUIRKS is not set
CONFIG_SLOB=y
# CONFIG_LBDAF is not set
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_IOSCHED_CFQ is not set
CONFIG_PCI=y
# CONFIG_BLK_DEV is not set
# CONFIG_MISC_DEVICES is not set
CONFIG_BLK_DEV_SD=y
# CONFIG_SCSI_LOWLEVEL is not set
CONFIG_ATA=y
# CONFIG_ATA_VERBOSE_ERROR is not set
# CONFIG_SATA_PMP is not set
CONFIG_PATA_CS5536=y
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_SERIO_SERPORT is not set
# CONFIG_CONSOLE_TRANSLATIONS is not set
# CONFIG_DEVKMEM is not set
# CONFIG_UNIX98_PTYS is not set
CONFIG_LEGACY_PTY_COUNT=5
# CONFIG_HW_RANDOM is not set
# CONFIG_HWMON is not set
# CONFIG_MFD_SUPPORT is not set
# CONFIG_VGA_ARB is not set
CONFIG_FB=y
# CONFIG_VGA_CONSOLE is not set
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FONTS=y
CONFIG_FONT_8x8=y
# CONFIG_HID_SUPPORT is not set
# CONFIG_USB_SUPPORT is not set
CONFIG_STAGING=y
# CONFIG_STAGING_EXCLUDE_BUILD is not set
CONFIG_FB_SM712=y
# CONFIG_MIPS_PLATFORM_DEVICES is not set
CONFIG_EXT2_FS=y
# CONFIG_FILE_LOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
# CONFIG_PROC_FS is not set
# CONFIG_SYSFS is not set
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_STRIP_ASM_SYMS=y
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="console=tty root=08:05 init=/bin/bash"
CONFIG_CMDLINE_OVERRIDE=y
