#
# Character device configuration
#

menu "SGI devices"
	depends on SGI_IP22

config SGI_DS1286
	bool "SGI DS1286  RTC support"
	help
	  If you say Y here and create a character special file /dev/rtc with
	  major number 10 and minor number 135 using mknod ("man mknod"), you
	  will get access to the real time clock built into your computer.
	  Every SGI has such a clock built in. It reports status information
	  via the file /proc/rtc and its behaviour is set by various ioctls on
	  /dev/rtc.

config SGI_NEWPORT_GFX
	tristate "SGI Newport Graphics support (EXPERIMENTAL)"
	depends on EXPERIMENTAL
	help
	  If you have an SGI machine and you want to compile the graphics
	  drivers, say Y here. This will include the code for the
	  /dev/graphics and /dev/gfx drivers into the kernel for supporting
	  virtualized access to your graphics hardware.

endmenu

